doctype html
html(lang="es")
head
	meta(charset="UTF-8")
	title marvel Game Card
	link(rel="stylesheet",type="text/css",href="./css/app.css")
body
	h1 Marvel Game Card
	div(class="Card")
		h2(class="Card-name") Wolverine
		img(src="./images/wolverine.jpg", alt="wolverine", class="Card-image")
		div(class="Card-description") Wolverine es muy poderoso
		div(class="Card-attack") 500 puntos de ataque
	