doctype html
html(lang="es")
head
	meta(charset="UTF-8")
	title marvel Game Card
	link(rel="stylesheet",type="text/css",href="./public/css/app.css")
body
	h1 Marvel Game Card
	include ./card/template.jade