doctype html
html(lang="es")
head
	meta(charset="UTF-8")
	title marvel Game Card
	link(rel="stylesheet",type="text/css",href="./public/css/app.css")
body
	h1 Marvel Game Card
	include ./card/template.jade

	section(class="Layout")
		section(class="Layout-angonist") angonist
		section(class="Layout-main")
			div(class="Layout-status") status
			div(class="Layout-batalla") battle
			div(class="Layout-phases") phases
		section(class="Layout-player") player